<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <h1 class="text-monospace text-uppercase text-danger text-center">Vítejte v aplikaci</h1>
    </div>
    <div class="carousel-item">
      <h1 class="text-monospace text-uppercase text-danger text-center">Dnes je  {{today | date}}</h1>'
    </div>
  </div>
</div>
<div class="text-center mt-5"><a class=" text-uppercase btn btn-success" routerLink="/posts">alba</a></div>
